<header>
	<nav class="main-nav">	
		<div class="left-nav">
			<ul>
				<li id="sections-sidebar-btn">
					<i class="fa fa-bars"></i>
					<span>Sections</span>
				</li>
				<li id="search-modal-btn">
					<i class="fa fa-search"></i>
					<button><span>Search</span></button>
				</li>
			</ul>
		</div>
		<div class= "right-nav">
			<ul>
				<li>
					<span><a href="#"><button>Subscribe Now</button></a></span>
				</li>

				<li> 
					<span><a href="#"><button>Log In </button> </a></span>
				</li> 
			</ul>
		</div>
	</nav>
	
</header>