<header>
	<nav class="main-nav">	
		<div class="left-nav">
			<ul>
				<li id="sections-sidebar-btn">
					<button><i class="fa fa-bars"></i>
					<span><button>Sections</span></button>
				</li>
				<li id="search-modal-btn">
					<button><i class="fa fa-search"></i></button>
					<span><button>Search</span></button>
				</li>
			</ul>
		</div>
		<div class="right-nav">
			<ul>
				<li>
					<span><a href="#"><button>Subscribe Now</button></a></span>
				</li>

				<li> 
					<span><a href="#"><button>Log In </button> </a></span>
					<i class="fas fa-cog"></i>
				</li> 
			</ul>
		</div>
	</nav>
	
</header>